
footer {
  grid-area: footer;
  background-color: rgb(13, 55, 23);
  color:black;
  padding: 2rem 1rem 0 1rem;
}

.footer-section {
  margin-bottom: 2rem;
}
.footer-section h3 {
  color: beige;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}
.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-section ul li {
  margin-bottom: 12px;
}
.footer-section ul li a {
  color: var(--cor-roxa-clara);
  letter-spacing: 0.1rem;
  text-decoration: none;
  transition: color 0.3s;
}
.footer-section ul li a:hover {
  color: var(--cor-neutra-clara);
}

footer > nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

footer > div {
  background-color: var(--cor-neutra-escura);
  font-size: 0.8rem;
  color: var(--cor-cinza-clara);
  text-align: center;
  padding: 1.5rem 0 1rem 0;
  letter-spacing: 0.1rem;
}

@media (min-width: 1024px) {
  footer > nav {
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    padding: 4rem 1rem 2rem 1rem;
  }
  .footer-section {
    margin-bottom: 0;
    flex: 1 1 0;
  }
}